telethon==1.34.0
aiofiles==23.2.1
apscheduler==3.10.4
aiohttp==3.9.5
gTTS==2.5.1
dnspython==2.6.1
hachoir==3.2.0
heroku3==5.2.3
motor==3.3.2
pillow==10.3.0
psutil==5.9.8
wget==3.2
qrcode==7.4.2
search_engine_parser==0.6.9
speedtest-cli==2.1.3
py-tgcalls==3.0.0  # (သို့) 2.2.1 (လိုအပ်ရင်)
ntgcalls==1.3.0    # py-tgcalls 3.x အတွက် လိုအပ်တယ်
pytube==15.0.0
MukeshAPI==0.1.9
gitpython==3.1.42
pykeyboard==0.4.0
python-dotenv==1.0.1
pyyaml==6.0.1
tgcrypto==1.2.5
telegraph==2.2.0
yt-dlp==2024.4.9
lexica-api==1.4.7
httpx==0.27.0
lyricsgenius==3.0.1
spotipy==2.23.0
SafoneAPI==0.5.1
youtube-search-python==1.6.6
googlesearch-python==1.2.3
unidecode==1.3.8
#git+https://github.com/joetats/youtube_search@master
#git+https://github.com/alexmercerind/youtube-search-python@main
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.23.zip
git+https://github.com/AsmSafone/SafoneAPI
bing_image_downloader
